#sideOne title {
    background-color: #658CC3;
    color: #f6ffff;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

#sideOne Section.title {
    background-color: #658CC3;
    color: #f6ffff;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}