.container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 300px;
    margin: 15px;
    border: #658CC3 1px solid;
}

.title {
    background-color:  #658CC3;
    color:  #F6FFFF;
    font-size: 10px;
    justify-content: center;
    border-bottom: #658CC3 1px solid;
    ;
    
}

.links ul {
    list-style-type: none;

}

