.navbar {
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #142E8D;
    color: #f6ffff;
    font-size: 1.5rem;
    font-weight: 700;   
}

.links {
    background-color: #658CC3;
}

.links ul {
    list-style-type: none;
}

.links a {
    color: #f6ffff;
}