

.container {
	display: flex;
	justify-content: space-between;
	margin: 15px;
	
}

.table {
	width: 100%;
	height: fit-content;
    white-space: nowrap;
	border: #658cc3 1px solid;
	text-align: left;
}

.table thead h2 {
	text-align: center;
	background-color: #658cc3;
	color: #f6ffff;
	font-size: 2rem;
	font-weight: 700;
	width: 100%;
}

.title{
	display: table-row;
	background-color: #adc9ee;
	color: #385987;
	font-size: medium;
	font-weight: 700;
	box-sizing: content-box;
	width: 25%;
}



.list{
	
	background-color: #d3e3fa;
	color: #000000;
	font-size: medium;
	box-sizing:content-box;
	width: 65%;
	
	
}

.list li {
	list-style-type: none;
}
